body{
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
  }
  
  .container{
    margin:0px 170px;
  }
  
  .row{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .logo img
  {
      width:140px;
  }
nav
{
    width: 100%;
    margin-top: 5px;
    transition: .5s;
    border-radius: 4px;
    margin-bottom: 20px;
}
nav>ul>li
{
    text-decoration: none;
    list-style: none;
}
nav>ul>li>a
{
    display: block;
    color: #fff;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: .5s;   
}
nav>ul
{
    display: flex;
    justify-content: flex-end;
    background-color: #262626;
    border-radius: 4px;
}
nav ul li a:hover,
nav ul li a.active
{
    background-color:rgb(86, 193, 213);
    color: #000;
}
.cim
{
    margin-top: 30px;
}
h1
{
    text-align: center;
    margin: 0px;
} 
h2
{
    margin: 0px;
}
.fokep>img
{
    display: flex;
    width: 1570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:fixed;
}
  .kockak
  {
    background-color:rgba(255, 20, 145, 0.575);
    position: relative;
    flex: 1;
    max-width: 600px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  .kockak>p
  {
    background-color:  #262626;
    color: white;
    padding: 10px;
    margin: 10px 100px;
  }

  .kockak img
  {
      width: 300px;
      height: 150px;
      margin: 25px 80px;
  }
  p:hover{
    background-color:rgb(86, 193, 213);
    color: black;
  }
  .footer
    {
        width: 1900px;
        height: 65px;
        text-align: center;
        font-weight: bold;
        background-color: black;
        color: white;
        border-radius: 4px 4px 0px 0px;
        margin-top: 30px; 
    }
  @media (max-width:900px)
  {
    .container
    {
        margin: 0px 20px;
    }
    .fokep>img{
      flex: 100%;
      max-width: 650px;
    }
    .kockak{
        flex: 100%;
        max-width: 650px;
        max-height: 450px;
    }
  }
  @media(max-width:600px)
{
    .container
    {
        margin: 0px 20px;
    }
    .fokep>img
    {
      flex: 100%;
      max-width: 500px;
    }
    .kockak{
        flex: 100%;
        max-width: 600px;
        max-height: 400px;
    }
}
         